@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="jumbotron">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>

        <div class="w3-container">
            <div class="w3-panel w3-teal">

                <div class="w3-container w3-center w3-animate-top">
                    <h1>Laitehallinta</h1>
                    </div>

                </div>
                @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@

                <html>
                <title>W3.CSS</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <style>
                    .w3-btn {
                        width: 150px;
                    }
                </style>
                <body>
                    <div class="w3-container">

                        <p><a href="/Henkilo" class="w3-button w3-teal w3-round-xxlarge">Henkilöt &raquo;</a></p>

                        <p>
                            <a href="/Laite" class="w3-button w3-teal w3-round-xxlarge">Laitteet &raquo;</a>
                            <a href="/Viivakoodi" class="w3-button w3-teal w3-round-xxlarge">Viivakoodi &raquo; </a>
                        </p>
                        <p><a href="/Tila" class="w3-button w3-teal w3-round-xxlarge">Tilat &raquo;</a></p>
                        <p><a href="/Log" class="w3-button w3-teal w3-round-xxlarge">Loki ja laitesiirto &raquo;</a></p>
                    </div>
            </div>

</body>
</html>
@*
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
